<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="firefox" />
      <package id="arsenalimagemounter" />
      <package id="wireshark" />
      <package id="libreoffice-fresh" />
      <package id="thunderbird" />
      <package id="notepadplusplus" />
      <package id="vscode" />
      <package id="sublimetext4" />
      <package id="7zip" />
      <package id="dotnet" />
      <package id="dotnet-desktopruntime" />
      <package id="dotnet-aspruntime" />
      <package id="tor-browser" />
    </packages>