---
- name: Install SIFT Environment
  hosts: all
  gather_facts: no

  tasks:
    - name: Update Host 
      ansible.builtin.apt:
        update_cache: true
        upgrade: full
        autoremove: yes

    - name: Install curl
      ansible.builtin.apt:
        name: curl

    - name: Install jq
      ansible.builtin.apt:
        name: jq

    - name: Get Latest Cast Version
      ansible.builtin.shell: |
        curl -s https://api.github.com/repos/ekristen/cast/releases/latest | jq -r '.tag_name'
      register: cast_version

    - name: Download Latest Cast Version
      ansible.builtin.get_url:
        url: "https://github.com/ekristen/cast/releases/download/{{ cast_version }}/cast-{{ cast_version }}-linux-amd64.deb"
        dest: "/tmp/cast_{{ cast_version }}.deb"

    - name: Install Cast
      ansible.builtin.shell: |
        dpkg -i /tmp/cast_{{ cast_version }}.deb

    - name: Install SIFT
      ansible.builtin.shell: |
        cast install teamdfir/sift-saltstack